.App {
    background-color: #f7f7f7;
    width: 100vw;
    height: 100vh;
}
.button {
    padding: 0.3rem 0.5rem;
    border-radius: 4px;
    font-size: 14px;
    letter-spacing: 0.1px;
    font-weight: normal;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.border--gray {
    border: 1px solid rgb(219, 219, 219);
    background-color: #fff;
}
.elevated {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.icon {
    width: 16px;
}
.icon--gray {
    color: #707070;
}

.text {
    font-size: 14px;
    font-weight: normal;
    color: #1f1f1f;
    font-weight: 500;
}
.text--dark {
    color: #4e4e4e;
}
.text--light {
    color: #909090;
}

/* Flex */
.flex {
    display: flex;
}
.align-center {
    align-items: center;
}
.gap-1 {
    gap: 0.25rem;
}
.gap-2 {
    gap: 0.5rem;
}
.gap-3 {
    gap: 1rem;
}